.navModal {
  position: fixed;
  top: 59px;
  bottom: 0;
  transform: translateX(-100%);
  min-width: 100vw;
  min-height: 100vh !important;
  background-color: #2f3640;
  z-index: 1;
  transition: all ease 0.4s;
  /* display: none; */
}

.navModal.open {
  /* display: block; */
  transform: translateX(0%);
}

.navMobileMenu .enlacesMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background: red; */
  transform: translateX(-10px);
  height: 100vh;
  transform: translateY(-50px);
}

.enlacesMobile li {
  font-size: 35px;
  padding: 40px 0;
}
