.navModal {
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #2f3640;
  z-index: 1;
  transition: all ease 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navMobile li {
  font-size: 25px;
  padding: 40px 0;
}
