/* body {
  overflow: hidden;
} */
@media screen and (max-width: 1380px) {
  .experienciaDiv {
    height: 110vh;
  }
  .certificadoDivision {
    width: 31%;
    min-height: 410px;
  }

  .carouselDivCertificados {
    display: none;
  }

  .certificadosDiv .cardDiv {
    margin-top: 10px;
  }

  .experiencia {
    height: 70vh;
  }
  .containerCardCertificados {
    background-color: aliceblue;
    /* border: 1px solid rgb(220, 220, 220); */
    border-radius: 10px;
  }
}

@media screen and (max-width: 990px) {
  .certificadosDiv {
    display: none;
  }
  .carouselDivCertificados {
    display: block;
  }
  .fn .carousel-control-prev,
  .fn .carousel-control-next {
    display: none;
  }
  .certificadosDiv .cardDiv {
    margin-top: -50px;
    position: relative !important;
  }
  .cardCarousel {
    position: relative;
  }
  .carouselDivCertificados {
    position: absolute;
    width: 750px;
    min-height: 450px;
    top: 380px;
  }
  .carousel-indicators {
    bottom: 80px !important;
    left: 60%;
    width: 80%;
    /* background-color: red; */
  }

  .carousel-indicators button {
    width: 60px !important;
    height: 5px !important;
  }
  .fn .cardCarousel {
    height: 700px;
    width: 600px !important;
    margin: 50px;
    /* background-color: red; */
  }

  .certificadoDivision {
    width: 100%;
    min-height: 610px;
  }
  .certificadosOracleSeccion p {
    font-size: 30px;
  }
  .certificadosOracleSeccion .formaciones {
    font-size: 30px;
  }
}

@media screen and (max-width: 414px) {
  .experiencia p {
    font-size: 19px;
    transform: translateY(-30px);
  }
  .carouselDivCertificados {
    position: absolute;
    width: 100%;

    top: 380px;
    left: 0;
    /* background-color: red; */
  }
  .fn {
    height: 450px;
    width: 80% !important;
  }

  .cardCarousel {
    height: 450px;
    width: 210px !important;
    transform: translateY(-60px);
  }
  .carousel {
    margin-left: -20px;
  }
  .certificadoDivision {
    width: 100%;
    min-height: 410px;
  }

  .certificadosOracleSeccion p {
    font-size: 20px;
  }
  .certificadosOracleSeccion .formaciones {
    font-size: 21px;
  }

  .carousel-indicators {
    bottom: 10px !important;
    width: 80%;
    /* background-color: red; */
  }

  .carousel-indicators button {
    width: 40px !important;
    height: 3px !important;
  }
}
@media screen and (max-width: 390px) {
  .carousel {
    margin-left: -20px;
  }
}
@media screen and (max-width: 375px) {
  .fn .card {
    /* background-color: red; */
    width: 330px !important;
    max-width: 360px;
    margin-left: -5px;
    margin: 0;
    margin-left: -5px;
  }
  .cardCarousel {
    height: 450px;
    width: 210px !important;
    transform: translateY(-60px);
  }
  .formaciones ul li {
    font-size: 19px;
  }
  .carousel-indicators {
    bottom: 20px !important;
    left: 60%;
    width: 80%;
    /* background-color: red; */
  }

  .carousel-indicators button {
    width: 40px !important;
    height: 3px !important;
  }
}
