@media screen and (max-width: 1380px) {
  .content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-items: center; */
    margin-top: 80px;
  }
  .dp {
    min-height: calc(100vh - 100px);
  }

  .man img {
    width: 80%;

    /* background-color: red; */
    margin-left: 17%;
  }

  .presentation {
    /* background-color: aqua; */
    width: 80%;
    height: 350px;
  }

  .presentation .title {
    font-size: 39px;
  }

  .presentation .subTitle {
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .man img {
    width: 85%;

    /* background-color: red; */
    /* margin-left: 17%; */
  }

  .presentation {
    /* background-color: aqua; */
    width: 110%;
    height: 450px;
  }

  .presentation .title {
    font-size: 2.1em;
    padding-bottom: 10px;
    text-align: center;
  }

  .presentation .subTitle {
    padding-bottom: 9px;
  }

  .presentation .lista-icons {
    padding-bottom: 102px;
  }
}

@media screen and (max-width: 834px) {
  .man img {
    display: none;
  }
  .header {
    height: 60vh;
  }
  .dp {
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
    /* background: red; */
  }

  .content {
    display: flex;

    transform: translateX(20px);
    /* background: beige; */
  }

  .botonDiv {
    transform: translateX(10px);
  }
  .presentation .title {
    font-size: 44px;
    padding-bottom: 10px;
    text-align: center;
  }
  .subTitle {
    font-size: 25px !important;
  }

  .presentation .subTitle {
    padding: 10px 0;
  }

  .presentation .lista-icons {
    padding-bottom: 102px;
  }
}

@media screen and (max-width: 414px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .content {
    display: flex;

    transform: translateY(0px);
    /* background: beige; */
  }
  .presentation .title {
    font-size: 35px;
    padding-bottom: 10px;
    text-align: center;
  }
  .subTitle {
    font-size: 20px !important;
  }

  .presentation .subTitle {
    padding: 5px 0;
  }

  .presentation .lista-icons {
    padding-bottom: 102px;
  }

  .lista-icons {
    transform: translateX(-40px);
  }
  .botonDiv {
    transform: translateX(-10px);
  }
}

@media screen and (max-width: 375px) {
  .lista-icons li img {
    width: 40px;
  }

  .content {
    display: flex;

    transform: translateY(-50px);
    /* background: beige; */
  }

  .botonDiv {
    transform: translateX(-20px);
  }
}
