.habilidades {
  display: flex;
  align-items: center;
  justify-content: center;

  scroll-margin-top: 20px;
}

.habilidades-tecnologias {
  display: flex;
  flex-direction: column;
}

.contenido-habilidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contenido-habilidades .skill {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.contenido-habilidades .skill img {
  width: 150px;
  height: 170px;
  margin: 0px 20px;
  object-fit: contain;
}

@media screen and (max-width: 650px) {
  .contenido-habilidades .skill img {
    width: 80px;
    height: 70px;
    margin-bottom: 20px;
  }
  .skill p {
    margin-left: 0px;
  }
}
