.divFooter {
  display: flex;
  background: rgb(2, 17, 70);
  color: aliceblue;
  font-size: 20px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.footerText span {
  color: red;
}
